<!DOCTYPE html>
<html ng-app ="app">
<head>
	<title>Sheets!</title>
</head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="angular/angular.min.js"></script>
    <script src="angular-route/angular-route.min.js"></script>
    <script src="angular-cookies/angular-cookies.js"></script>
<!-- ______________angular material and dependencies______________ -->
    <script src="angular-animate/angular-animate.min.js"></script>
    <script src="angular-aria/angular-aria.min.js"></script>
    <script src="angular-messages/angular-messages.min.js"></script>
    <script src="angular-material/angular-material.min.js"></script>
    <link rel="stylesheet" href="angular-material/angular-material.min.css">
<!-- _____________________________________________________________ -->
    <script src="./assets/app.js"></script>
    <script src="./assets/factories/batchFactory.js"></script>
    <script src="./assets/factories/customerFactory.js"></script>
    <script src="./assets/factories/itemFactory.js"></script>
    <script src="./assets/factories/credentialFactory.js"></script>
    <script src="./assets/controllers/userController.js"></script>
    <script src="./assets/controllers/batchController.js"></script>
    <script src="./assets/controllers/customerController.js"></script>
    <script src="./assets/controllers/itemController.js"></script>
    <script src="./assets/controllers/credentialController.js"></script>
    <link rel="stylesheet" href="./main.css" media="screen">
<body layout="column">
    <div class="wrapper" flex="100" ng-cloak>
<!-- ____________________________PERSISTENT STATUS BAR____________________________ -->
        <md-toolbar class="md-success md-primary md-hue-1" ng-controller="userController">
            <div class="md-toolbar-tools" layout="row" flex>
                <!-- <h1 flex="80" ng-if="!username"></h1> -->
                <h1 flex="80" ng-if="username">Hi, {{username}}!</h1>
                <md-button flex="20" class="md-warn md-raised" layout-align="stretch" ng-click="removeName()" ng-controller="batchController">Change User</md-button>
                <md-button flex="20" class="md-warn md-raised" layout-align="stretch" id="home" ng-click="home()" ng-controller="batchController">Home</md-button>
            </div>
        </md-toolbar>
<!-- _____________________________________________________________________________ -->
        <div ng-view="">
        </div>
    </div>
</body>
</html>
