/*all the css you could ask for*/
* {
    font-family: Arial;
}
.greeting {
    width: 100vw;
    height: 3vh;
    font-size: 3vw;
    margin-bottom: 0.5em;
    margin-top: 0;
}
.station_button {
    width: 98vw;
    height: 22.8vh;
    font-size: 6vh;
    padding: 10vh 0vh;
    border-radius: 0.5rem;
    border: solid 1px gray;
}
#receiving {
    background: linear-gradient(#00BCD4, #B3DFAA);
}
#wash {
    background:linear-gradient(#17B9F2, #3B9BEF);

}
#dry {
    background:linear-gradient(#17B9F2, #3B9BEF);

}
#folder {
    background:linear-gradient(#17B9F2, #3B9BEF);

}
#finish {
    background:linear-gradient(#17B9F2, #3B9BEF);

}
#management {
    background:linear-gradient(#CE86F3, #9E40EC);
}
#back{
        position:absolute;
        right:0;
        top:0;
        padding: 0px;
        width: 60px;
        height: 60px;
    }
h1 {
    display: inline-block;
}