/*all the css you could ask for*/
* {
    font-family: Arial;
}
.wrapper {
    height: 100vh;
    width: 100vw;
    /*overflow: hidden;*/
}
.md-toolbar-tools h2 {
    color: white;
}
.station_button {
    width: 98vw;
    height: 22.8vh;
    font-size: 6vh;
    padding: 10vh 0vh;
    border-radius: 0.5rem;
    border: solid 2px gray;
}
.bigbatch_button {
    width: 98vw;
    height: 22.8vh;
    font-size: 6vh;
    font-color: white;
    padding: 10vh 0vh;
    border-radius: 0.5rem;
    border: solid 2px gray;
}
.management_button {
    width: 98vw;
    height: 22.8vh;
    font-size: 6vh;
    padding: 10vh 0vh;
    border-radius: 0.5rem;
    border: solid 2px gray;
}
.submit_batch {
    width: 98vw;
    height: 22.8vh;
    font-size: 6vh;
    padding: 10vh 0vh;
    border-radius: 0.5rem;
    border: solid 2px gray;
}
.page_action{
    width: 100%;
    background-color: #f44d1a;
    color: white;
    padding: 1.0px 1.0px;
    margin: 8px 0;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    height:2em;
    font-size:4em;
}
.dash_button {
    width: 98%;
    height: 150px;
    border: solid 2px gray;
}
.customer_button{
    width: 48%;
    height: 150px;
    border: solid 2px gray;
    font-size: 3vh;
}
.menu_button {
    width: 75px;
    height: 70px;
    border: solid 2px gray;
    margin: 0px;
}
h1 {
    display: inline-block;
}
