/*all the css you could ask for*/
* {
    font-family: Arial;
}
.wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.md-toolbar-tools h2 {
    color: white;
}
.station_button {
    width: 98vw;
    height: 22.8vh;
    font-size: 6vh;
    padding: 10vh 0vh;
    border-radius: 0.5rem;
    border: solid 2px gray;
}
.bigbatch_button {
    width: 98vw;
    height: 22.8vh;
    font-size: 6vh;
    font-color: white;
    padding: 10vh 0vh;
    border-radius: 0.5rem;
    border: solid 2px gray;
}
.management_button {
    width: 98vw;
    height: 22.8vh;
    font-size: 6vh;
    padding: 10vh 0vh;
    border-radius: 0.5rem;
    border: solid 2px gray;
}
.submit_batch {
    width: 98vw;
    height: 22.8vh;
    font-size: 6vh;
    padding: 10vh 0vh;
    border-radius: 0.5rem;
    border: solid 2px gray;
}
.dash_button {
    width: 98%;
    height: 150px;
    border: solid 2px gray;
}
.menu_button {
    width: 75px;
    height: 70px;
    border: solid 2px gray;
    margin: 0px;
}
h1 {
    display: inline-block;
}
.padding {
    padding: 0 1vw;
}
#create {
    height: 8vh;
    color: white;
    font-size: 3em;
    border: solid 2px gray;
}
#update_customer {
    height: 8vh;
    font-size: 3vh;
}
