<div class="padding">	
	<h1>New Batch</h1>
</div>
<div layout="row" class="padding">
	<md-input-container class="md-block" flex>
		<label>Per Item</label>
		<md-select ng-model="queuedPerItem.index">
			<md-option ng-repeat ="item in items track by $index" ng-value="{{$index}}"> {{item.name}} (per {{item.charge}} )</md-option>
		</md-select>
	</md-input-container>
	<md-input-container >
		<label>Quantity</label>
		<input ng-model="queuedPerItem.quantity" required>
	</md-input-container>
</div>
<div layout="row" class="padding">
	<md-input-container class="md-block" flex>
		<label>Per Item</label>
		<md-select ng-model="queuedPerItem.index">
			<md-option ng-repeat ="item in items track by $index" ng-value="{{$index}}"> {{item.name}} (per {{item.charge}} )</md-option>
		</md-select>
	</md-input-container>
	<md-input-container >
		<label>Quantity</label>
		<input ng-model="queuedPerItem.quantity" required>
	</md-input-container>
</div>
<div layout="row" layout-align="center center">
	<md-button class="md-primary md-raised md-hue-1" ng-click="selectPerItem()" flex="100">Add</md-button>
</div>
<div class="tables" layout="row" layout-align="center center" flex>
	<table>
		<thead>
			<th>Item</th>
			<th>Price</th>
			<th>Charge</th>
			<th>Quantity</th>
			<th>Subtotal</th>
		</thead>
		<tbody>
			<tr ng-repeat = "part in queue">
				<td>{{part.name}}</td>
				<td>${{part.price.toFixed(2)}}</td>
				<td>Per {{part.charge}}</td>
				<td>{{part.quantity}}</td>
				<td>${{part.subtotal.toFixed(2)}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div>
	<form ng-submit = "addBatch()">
		<div layout="row" class="padding">
			<md-input-container class="md-block" flex>
				<label>Select Customer</label>
				<md-select ng-model="newBatch._customer">
					<md-option ng-repeat= "customer in customers" value ="{{customer._id}}">{{customer.name}}</md-option>
				</md-select>
			</md-input-container>
			<md-input-container >
				<label>Due Date</label>
				<md-datepicker name="due_date" ng-model ="newBatch.due_date">
			</md-input-container>
		</div>
		<div layout="row" class="padding">
			<md-input-container class="md-block" flex>
				<label>Comments</label>
				<input id="comment" type="text" ng-model="newBatch.instructions">
			</md-input-container>
		</div>
		<div layout="row" layout-align="center center">
			<input id="create_batch" class="md-button md-primary md-raised" flex="100" type="submit" name="submit" value="Create Batch">
		</div>
	</form>
</div>

<style media="screen">
	.tables {
		border: solid black 1px;
		display: inline-block;
		margin-left: 0.5em;
		width: 98.2%;
		height: 53vh;
		margin-bottom: 0.5em;
		overflow: auto;
	}
	.tables table {
	    border-collapse: collapse;
	    width: 100%;
		border: solid gray 1px;
		color: black;
	}
	.tables td, .tables th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}
	.tables th {
		border: none;
		background-color: #81efed;
	}
	#create_batch {
		height: 8vh;
		color: white;
		font-size: 3em;
		border: solid 2px gray;
	}
	.padding {
		padding: 0 1vw;
	}
</style>
