	<md-button class="dash_button md-primary md-raised"><a href="#/batch">New Batch</a></md-button>
	<md-button class="dash_button md-primary md-hue-1 md-raised"><a href="#/new_customer">New Customer</a></md-button>
	<h2>Processing</h2>
	<div class="tables">
		<table id="processing_table">
			<thead>
				<tr>
					<th>Batch</th>
					<th>Customer</th>
					<th>Status</th>
					<th>Created</th>
					<th>Due</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="batch in batches">
					<td ng-if="batch.status != 'Completed'">{{batch._id.slice(-5)}}</td>
					<td ng-if="batch.status != 'Completed'">{{batch._customer.name}}</td>
					<td ng-if="batch.status != 'Completed'">{{batch.status}}</td>
					<td ng-if="batch.status != 'Completed'">{{batch.createdAt | date: 'M/d/yy h:mm a'}}</td>
					<td ng-if="batch.status != 'Completed'">{{batch.due_date | date: 'M/d/yy'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<h2>Completed</h2>
	<div class="tables">
		<table id="completed_table">
			<thead>
				<tr>
					<th>Batch</th>
					<th>Customer</th>
					<th>Due</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="batch in batches" >
					<td ng-if="batch.status == 'Completed'">{{batch._id.slice(-5)}}</td>
					<td ng-if="batch.status == 'Completed'">{{batch._customer.name}}</td>
					<td ng-if="batch.status == 'Completed'">{{batch.due_date | date:'M/d/yy'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- <div class="md-padding inset" layout="row" layout-align="center end" md-swipe-up="showBottomSheet()" ng-cloak>
		<md-button class="menu_button md-primary md-raised md-warn" ng-click="showBottomSheet()">MENU</md-button>
	</div> -->
	<div>
		<md-button class="man_button md-primary md-hue-1 md-raised"><a href="#/customer_manage">Customer Management</a></md-button>
      	<md-button class="man_button md-primary md-raised"><a href="#/item_manage">Item Management</a></md-button>
	</div>
<style media="screen">
	* {
		font-family: arial;
	}
	.button {
		margin-bottom: 1rem;
		width: 100%;
		height:10em;
		box-shadow: 10px 10px 5px #888888;
		border-radius: 1em;
	}
	.man_button {
		margin-bottom: 1rem;
		width: 47%;
		height:10em;
		box-shadow: 10px 10px 5px #888888;
		border-radius: 1em;
		font-size: 6px;
	}
	#stations {
		background:linear-gradient(#C2111B, #F59A9F);
	}
	h2 {
		text-align: left;
		margin-bottom: 0em;
	}
	#home{
		font-size: 14px;
	}
	button a {
		text-decoration: none;
		display: block;
		color: white;
		font-size: 5em;
	}
	.tables {
		border: solid black 1px;
		display: inline-block;
		margin-left: 1.5em;
		width: 95%;
		height: 22em;
		margin-bottom: 0.5em;
		overflow: auto;
	}
	table {
    border-collapse: collapse;
    width: 100%;
		border: solid gray 1px;
		color: black;
	}
	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}
	/*tr:nth-child(even) {
		background-color: #dddddd;
	}*/
	#processing_table th {
		border: none;
		background-color: #81efed;
	}
	#completed_table th {
		border: none;
		background-color: #81efed;
	}
	#customer_management {
		background: linear-gradient(#F77114, #EFAC7D);
	}
	#item_management {
		background: linear-gradient(#178A11, #91E88D);
	}
	.md-padding{
		margin: 0px;
	}
</style>
