<div class="padding" layout="row">
	<h1>Edit Item</h1>
</div>
<div class="padding" layout="column" layout-align="center">
   <form ng-submit="updateItem()">
      <md-input-container class="md-block">
         <label>Name</label>
         <input type="text" ng-model="item.name">
      </md-input-container>
      <md-input-container class="md-block">
         <label>Type</label>
         <input type="text" ng-model="item.type">
      </md-input-container>
      <md-input-container class="md-block">
         <label>Size</label>
         <input type="text" ng-model="item.size">
      </md-input-container>
      <md-input-container class="md-block">
         <md-radio-group ng-model="item.per" layout="row">
				<md-radio-button value="item" primary>Per Item</md-radio-button>
				<md-radio-button value="pound" primary>Per Pound</md-radio-button>
			</md-radio-group>
      </md-input-container>
      <md-input-container class="md-block margin">
         <label>Price</label>
         <input type="text" ng-model="item.price">
      </md-input-container>
      <md-content>
         <section layout="row" layout-align="center">
            <input id="update" class="md-button md-primary md-raised md-hue-1" type="submit" value="Update Item" flex>
         </section>
      </md-content>
   </form>
</div>
<div class="padding" layout="row" layout-align="center" flex>
   <md-button class="customer_button md-primary md-raised md-warn" ng-click="deleteItem()" flex="50">Delete Item</md-button>
   <md-button class="customer_button md-primary md-hue-1 md-raised" href="#/customer_manage" flex="50">Cancel</md-button>
</div>
<style>
   h1 {
		font-size: 3.5em;
		margin-bottom: 0px;
		margin-top: 0px;
		vertical-align: top;
	}
   .margin {
        margin-bottom: 49vh;
    }
</style>
