<div class="padding" layout="row">
    <h1>Edit Customer</h1>
</div>
<md-content class="padding" layout="column" layout-align="center">
    <form ng-submit="updateCustomer()" ng-controller='customerController' class="edit_customer">
        <md-input-container class="md-block">
            <label>Business Name: </label>
            <input type="text" ng-model="customer.name" >
        </md-input-container>
        <md-input-container class="md-block">
            <label>Contact Name: </label>
            <input type="text" ng-model="customer.contact_name">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Phone: </label>
            <input type="text" ng-model="customer.phone">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Email: </label>
            <input type="text" ng-model="customer.email" >
        </md-input-container>
        <md-input-container class="md-block">
            <label>Billing Address: </label>
            <input type="text" ng-model="customer.address">
        </md-input-container>
        <md-input-container class="md-block">
            <label>Address Line 2: </label>
            <input type="text" ng-model="customer.address2">
        </md-input-container>
        <md-input-container class="md-block margin">
            <label>Address Line 3: </label>
            <input type="text" ng-model="customer.address3">
        </md-input-container>
        <md-content>
            <section layout="row" layout-align="center">
                <input id="update" class="md-button md-primary md-raised md-hue-1" type="submit" value="Update Customer" flex>
            </section>
        </md-content>
    </form>
</md-content>
<md-content class="padding" layout="row" layout-align="center" flex>
    <md-button class="customer_button md-primary md-raised md-warn" ng-click = "deleteCustomer()" flex="50">Delete Customer</md-button>
    <md-button class="customer_button md-primary md-hue-1 md-raised" href="#/customer_manage" flex="50">Cancel</md-button>
</md-content>
<style media="screen">
    h1 {
		font-size: 3.5em;
		margin-bottom: 0px;
		margin-top: 0px;
		vertical-align: top;
	}
    .margin {
        margin-bottom: 35vh;
    }
</style>
