<div id="header">
<h1>FINISHING</h1>
</div>
    <table>
        <tr>
            <th>Batch Number</th>
            <th>Company Name</th>
            <th>Due Date</th>
            <th>Comments</th>
        </tr>
        <tr ng-repeat ="batch in batches|filter:{status: 'Finishing'}" ng-click = "highlight4(batch)" ng-class="{'highlight': isSelected(batch)}">
            <!-- ng-repeat  -->
            <td>{{batch._id.slice(-5)}}</td>
            <td>{{batch._customer.name}}</td>
            <td>{{batch.due_date | date: 'M/d/yy'}}</td>
            <td>{{batch.instructions}}</td>
            <td><button ng-click="deselect(batch)" ng-hide = "hide_val3">Clear</button><button ng-click="highlight(batch)" ng-hide = "hide_val4">Select</button></td>
        </tr>
    </table>
    <md-button class="station_button md-primary md-hue-2 md-raised" ng-click="updateStatus(queued_item)" ng-hide = "hide_val" class = "finish_button">SEND TO COMPLETE</md-button>
    <!-- ng-click in the div-->
<style>
    * {
        font-family: Arial;
    }
    h1 {
        font-size: 3.5em;
        margin-bottom: 0.5em;
        margin-top: 0;
    }
    th{
        font-size:1.5em;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        overflow: auto;
    }
    th, td {
        padding: 14px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    .highlight {
        background-color: #19FFC5;
    }
    .finish_button {
        width: 100%;
        background-color: #3366ff;
        color: white;
        padding: 1.0px 1.0px;
        margin: 8px 0;
        border: none;
        border-radius: 0.5em;
        cursor: pointer;
        height: 5.97em;
        font-size: 1.5em;
        height: 200px;
        background: red;
        /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, #FF4D19, #FF4D19 100%, #FFF819);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, #FF4D19, #FF4D19 100%, #FFF819);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, #FF4D19, #FF4D19 100%, #FFF819);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, #FF4D19, #FF4D19 100%, #FFF819);
    }
</style>
