<div layout="row" class="padding">
	<h1>Customers</h1>
</div>
<div layout="row" class="padding">
	<md-input-container class="md-block">
		<label>Search</label>
		<input ng-model="search">
	</md-input-container>
</div>
<div layout="row" class="tables">
	<table>
		<thead>
			<th id="thead_left">Company Name</th>
			<th>Contact Name</th>
			<th>Phone No.</th>
			<th>Action</th>
		</thead>
		<tbody>
			<tr ng-repeat ="customer in customers | filter: search">
				<td>{{customer.name}}</td>
				<td>{{customer.contact_name}}</td>
				<td>{{customer.phone}}</td>
				<td><a href="#/edit_customer/{{customer._id}}">View</a></td>
			</tr>
		</tbody>
	</table>
</div>
<md-content>
	<section layout="row" layout-align="center ">
		<md-button id="create_customer" class="md-primary md-raised" href="#/new_customer" flex>Create Customer</md-button>
	</section>
</md-content>
<style>
	* {
		font-family: Arial;
	}
	h1 {
		font-size: 3.5em;
		margin-bottom: 0px;
		margin-top: 0px;
		vertical-align: top;
	}
	.tables {
		border: solid black 1px;
		display: inline-block;
		margin-left: 0.5em;
		width: 98.2%;
		height: 73vh;
		margin-bottom: 0.5em;
		overflow: auto;
	}
	.tables table {
	    border-collapse: collapse;
	    width: 100%;
		border: solid gray 1px;
		color: black;
	}
	.tables td, .tables th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}
	.tables th {
		border: none;
		background-color: #81efed;
	}
	#create_customer {
		padding-top: 2.4vh;
	    height: 8vh;
	    color: white;
	    font-size: 3em;
	    border: solid 2px gray;
	}
</style>
