<div layout="row" class="padding">
	<h1>Items</h1>
</div>
<div layout="row" class="padding">
	<md-input-container class="m-block">
		<label>Search</label>
		<input ng-model="search">
	</md-input-container>
</div>
<div layout="row" class="tables">
	<table>
		<thead>
			<th>Name</th>
			<th>Type</th>
			<th>Size</th>
			<th>Charge</th>
			<th>Price</th>
			<th>Action</th>
		</thead>
		<tbody>
			<tr ng-repeat ="item in items | filter: search">
				<td>{{item.name}}</td>
				<td>{{item.type}}</td>
				<td>{{item.size}}</td>
				<td>{{item.charge}}</td>
				<td>${{item.price.toFixed(2)}}</td>
				<td><a href="#/edit_item/{{item._id}}">View</a></td>
			</tr>
		</tbody>
	</table>
</div>
<md-content>
	<section layout="row" layout-align="center">
		<md-button id="create_item" class="md-primary md-raised" href="#/new_item" flex>Create Item</md-button>
	</section>
</md-content>
<style>
	* {
		font-family: Arial;
	}
	h1 {
		font-size: 3.5em;
		margin-bottom: 1em;
		margin-top: 0;
	}
	.tables {
		border: solid black 1px;
		display: inline-block;
		margin-left: 0.5em;
		width: 98.2%;
		height: 73vh;
		margin-bottom: 0.5em;
		overflow: auto;
	}
	.tables table {
	    border-collapse: collapse;
	    width: 100%;
		border: solid gray 1px;
		color: black;
	}
	.tables td, .tables th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}
	.tables th {
		border: none;
		background-color: #81efed;
	}
	#add_item {
		padding-top: 2.4vh;
	    height: 8vh;
	    color: white;
	    font-size: 3em;
	    border: solid 2px gray;
	}
</style>
