<div layout="row" class="padding">
    <h1>New Customer</h1>
</div>
<p>{{success}}</p>
<div layout="column" layout-align="center" class="padding">
    <form ng-submit='addCustomer()'>
        <md-input-container class="md-block">
            <label>Business Name</label>
            <input type="text" ng-model="newCustomer.name">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Contact Name</label>
            <input type="text" ng-model="newCustomer.contact_name">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Phone</label>
            <input type="text" ng-model="newCustomer.phone">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Email</label>
            <input type="text" ng-model="newCustomer.email">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Billing Address</label>
            <input type="text" ng-model="newCustomer.address">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>City/State</label>
            <input type="text" ng-model="newCustomer.address2">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Zip Code</label>
            <input type="text" ng-model="newCustomer.address3">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Weight-Price</label>
            <input type="text" ng-model="newCustomer.weight">
        </md-input-container>
        <md-input-container class="md-block margin" flex>
            <label>Comments</label>
            <input type="text" ng-model="newCustomer.comments"></label>
        </md-input-container>
        <md-content>
            <section layout="row" layout-align="center">
                <input id="create" class="md-button md-primary md-raised" type="submit" value="Create Customer" flex>
            </section>
        </md-content>
    </form>
</div>
<style media="screen">
	h1 {
		font-size: 3.5em;
		margin-bottom: 5vh;
		margin-top: 0;
	}
    form {
        height: 20vh;
    }
    .margin {
        margin-bottom: 22vh;
    }
</style>
