<div layout="row" class="padding">
	<h1>Add New Item</h1>
</div>
<div layout="column" layout-align="center" class="padding">
	<form ng-submit = "addItem()">
		<md-input-container class="md-block">
			<label>Name</label>
			<input type="text" ng-model="newItem.name">
		</md-input-container>
		<md-input-container class="md-block">
			<label>Type</label>
			<input type="text" ng-model="newItem.type">
		</md-input-container>
		<md-input-container class="md-block">
			<label>Size</label>
			<input type="text" ng-model="newItem.size">
		</md-input-container>
		<md-input-container class="md-block">
			<md-radio-group ng-model="newItem.per" layout="row">
				<md-radio-button value="item" primary>Per Item</md-radio-button>
				<md-radio-button value="pound" primary>Per Pound</md-radio-button>
			</md-radio-group>
		</md-input-container>
		<md-input-container class="md-block margin">
			<label>Price</label>
			<input type="text" ng-model="newItem.price">
		</md-input-container>
		<md-content>
			<section layout="row" layout-align="center">
				<input id="create" class="md-button md-primary md-raised" type="submit" value="Add New Item" flex>
			</section>
		</md-content>
	</form>
</div>
<style media="screen">
	* {
	  font-family: arial;
	}
	h1 {
		font-size: 3.5em;
		margin-bottom: 5vh;
		margin-top: 0;
	}
	.margin {
        margin-bottom: 49.3vh;
    }

</style>
