<md-content>
    <section layout="row" layout-align="center center">
        <md-button class="bigbatch_button md-primary md-hue-2 md-raised" id="receiving" href="#/batch">New Batch</md-button>
    </section>

    <section layout="row" layout-align="center center">
        <md-button class="station_button md-primary md-hue-1 md-raised"   id="wash" href="#/wash">Wash</md-button>
        <md-button class="station_button md-primary md-hue-1 md-raised" id="dry" href="#/dry">Dry</md-button>
    </section>

    <section layout="row" layout-align="center center">
        <md-button class="station_button md-primary md-hue-1 md-raised" id="folder" href="#/folder">Folder</md-button>
        <md-button class="station_button md-primary md-hue-1 md-raised" id="finish" href="#/finish">Finish</md-button>
    </section>

    <section layout="row" layout-align="center center">
        <md-button class="management_button md-primary md-hue-3 md-raised" id="management" href="#/dashboard">Management</md-button>
    </section>
</md-content>