
<md-toolbar class="md-success">
    <div class="md-toolbar-tools" layout="row" flex>
        <h2 flex="80" ng-if="!username"></h2>
        <h2 flex="80" ng-if="username">Hi, {{username}}. Which Station?</h2>
        <md-button flex="20" class="md-warn md-raised" layout-align="stretch" ng-click="removeName()">Change User</md-button>
    </div>
</md-toolbar>

<md-content>
    <section layout="row" layout-align="center center">
        <md-button class="station_button md-primary md-raised" id="receiving" href="#/batch">New Batch</md-button>
    </section>

    <section layout="row" layout-align="center center">
        <md-button class="station_button md-primary md-raised"   id="wash" href="#/wash">Wash</md-button>
        <md-button class="station_button md-primary md-raised" id="dry" href="#/dry">Dry</md-button>
    </section>

    <section layout="row" layout-align="center center">
        <md-button class="station_button md-primary md-raised" id="folder" href="#/folder">Folder</md-button>
        <md-button class="station_button md-primary md-raised" id="finish" href="#/finish">Finish</md-button>
    </section>

    <section layout="row" layout-align="center center">
        <md-button class="station_button md-primary md-raised" id="management" href="#/dashboard">Management</md-button>
    </section>
</md-content>


<!-- <button class="button" id="receiving"><a href="#/batch">Receiving</a></button>
<button class="button" id="wash"><a href="#/wash">Wash</a></button>
<button class="button" id="dry"><a href="#/dry">Dry</a></button>
<button class="button" id="folder"><a href="#/folder">Folder</a></button>
<button class="button" id="finish"><a href="#/finish">Finish</a></button>
<button class="button" id="management"><a href="#/dashboard">Management</a></button> -->
