<h1>This is where your batch shosw up!</h1>
<h2>Batch: {{batch.id}}</h2>
<h2>Status: {{batch.status}}</h2>
<h2>Customer: {{batch.customer}}</h2>
<h2>Recieved: {{batch.createdAt | date: 'M/d/yy h:mm a'}}</h2>
<h2>Due Date: {{batch.due_date | date: 'M/d/yy h:mm a'}}</h2>
<table>
	<thead>
		<th>Item Name</th>
		<th>Quantity</th>
		<th>Price</th>
		<th>Charge Type</th>
		<th>Total</th>
	</thead>
	<tbody>
		<tr>
			<td>{{order.item.name}}</td>
			<td>{{order.item.quantity}}</td>
			<td>{{order.item.price}}</td>
			<td>{{order.item.charge}}</td>
			<td>{{order.item.subtotal}}</td>
		</tr>
	</tbody>
</table>