<div id="header">
<h1>WASH</h1>
</div>
<h2>Recieved and Ready for the Wash</h2>
    <div class="funtime">
        <table>
            <tr>
                <th>Batch Number</th>
                <th>Company Name</th>
                <th>Due Date</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat ="batch in batches|filter:{status: 'Received'}" ng-class="{'highlight': isSelected(batch)}">
                <!-- ng-repeat  -->
                <td>{{batch._id.slice(batch._id.length-5)}}</td>
                <td>{{batch._customer.name}}</td>
                <td>{{batch.due_date| date: 'M/d/yy'}}</td>
                <td><button ng-click="deselect(batch)" ng-hide = "hide_val3">Clear</button><button ng-click="highlight(batch)" ng-hide = "hide_val4">Select</button></td>
            </tr>
        </table>
    </div>
    <md-button class="station_button md-primary md-hue-2 md-raised" ng-click="updateStatus(queued_item)" ng-hide = "hide_val" class="wash_button">PUT IN WASHER</md-button>
    <h2 id="wash_list">Washed and Ready for the Dryer</h2>
    <div class="funtime">
        <table>
            <tr>
                <th>Batch Number</th>
                <th>Company Name</th>
                <th>Due Date</th>
                <th>Action</th>
            </tr>

            <tr ng-repeat ="batch in batches|filter:{status: 'Washing'}" ng-class="{'highlight': isSelected(batch)}">
                <!-- ng-repeat  -->
                <td>{{batch._id.slice(batch._id.length-5)}}</td>
                <td>{{batch._customer.name}}</td>
                <td>{{batch.due_date | date: 'M/d/yy'}}</td>
                <td><button ng-click="deselect(batch)" ng-hide = "hide_val5">Clear</button>
                <button ng-click="highlight(batch)" ng-hide = "hide_val6">Select</button></td>
            </tr>
        </table>
    </div>
    <md-button class="station_button md-primary md-hue-2 md-raised" ng-click="updateStatus(queued_item)" ng-hide="hide_val2" class = "wash_button">SEND TO DRYER</md-button>
    <!-- ng-click in the div-->
<style>
    * {
        font-family: Arial;
    }
    th{
        font-size:1.5em;
    }
    h1 {
		font-size: 3.5em;
		margin-bottom: 0.5em;
		margin-top: 0;
        display: inline-block;
	}
    table {
        border-collapse: collapse;
        width: 100%;
        overflow: auto;
    }
    .funtime{
        overflow: auto;
        height: 20%; 
        border: solid black 1px;
    }
    th, td {
        padding: 1.3em;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    h2{
        text-align: center;
        margin-bottom: none;
    }
    #header{
        display: block;
    }
    #wash_list{
        margin-top: 40px;
    }
/*    tr:hover {
        background-color: #19FFC5;
    }*/
    .wash_button {
    width: 100%;
    background-color: #3366ff;
    color: white;
    padding: 1.0px 1.0px;
    margin: 8px 0;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    height:5.97em;
    font-size:1.5em;
    height: 200px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #FF197E , #FFF819); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #FF197E, #FFF819); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #FF197E, #FFF819); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #FF197E ,#FFF819); /* Standard syntax (must be last) */
    }
   .highlight{
        background-color: #6fe4ed;
    }
</style>
