<img src="../assets/images/Sheets_logo.png">
<md-content>
	<div layout="row" layout-align="center">
		<form ng-submit="verify()">
			<md-input-container class="md-block">
				<label>Email: </label>
				<input type="email" name="email" ng-model="login.email">
			</md-input-container>
			<md-input-container class="md-block">
				<label>Password: </label>
				<input type="password" name="password" ng-model="login.password">
			</md-input-container>
			<input type="submit" class="md-button md-primary md-raised" value="Sign In">
			<h2>{{update}}</h2>
			<!-- {{current_user}}
			<p>master: {{current_user.master}}</p>
			<p>admin: {{current_user.admin}}</p> -->
		</form>
	</div>
</md-content>
<style media="screen">
	img{
		width:50vw;
		margin: auto;
		margin-top: 8vh;
		display: block;
	}
	input[type=email] {
		width: 50vw;
	}
	input[type=password] {
		width: 50vw;
	}

	form {
		padding-top: 8vh;
	}
	input[type=submit] {
		float: right;
	}
</style>
